

body{
    margin: 0 auto;
}

header {
    background: #f62459;
    width: 100%;
    height: 76px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
/* CSS de base */
nav{
    margin: 0;
    padding:0;
    background: saddlebrown;
}
nav ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
}
